
.nav {
   
    border: 1px black;
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: grid;
    grid-template-columns: auto auto  ;
    grid-row-gap: 10px;
    grid-column-gap:  10px;
    font-size: medium;
   

   
}

.header {
    grid-column: 1 / span 23; 
    background-color: aquamarine;
    text-align: center;
}

.hero{
    grid-column: 1 / span 6;
    background-color: bisque;
    text-align: center;

}

.main{
    grid-column: 7 / span 17; 
    background-color: blue;
    text-align: center;

}

.side{
    grid-column: 1 / span 6; 
    background-color: brown;
    text-align: center;

}

.extra{
    grid-column: 7 / span 17; 
    background-color: blueviolet;
    text-align: center;

}

.images{
    grid-column: 1 / span 6; 
    background-color:rgb(105, 194, 139);
    text-align: center;

}

.post{
    grid-column: 7 / span 17; 
    background-color: rgb(221, 164, 30);
    text-align: center;
}

.footer{
    grid-column: 1 /span 23; 
    background-color: rgb(235, 55, 193);
    text-align: center;

}


@media screen and (max-width: 430px) {
    .nav {
        background-color: rgb(255, 255, 255);
        color: rgb(164, 44, 7);
        font-size: small;
    }

    .header{
        background-color: aqua;
    }

    .extra{
        background-color: blue;
    }

    .footer{
        background-color: rgb(189, 220, 36);
    }

    .hero{
        background-color: rgb(237, 19, 186);
    }

    .images{
        background-color: rgb(201, 91, 47);
    }
}





@media screen and (min-width: 830px) {
    .nav {
        background-color: rgb(255, 255, 255);
        color: rgb(254, 183, 97);
        font-size: xx-large;
        background-image: url(https://images.pexels.com/photos/23996577/pexels-photo-23996577/free-photo-of-a-close-up-of-a-building-with-windows.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

    }

    .header{
        background-color: rgb(6, 97, 97);
    }

    .extra{
        background-color: rgb(68, 68, 236);
    }

    .footer{
        background-color: rgb(236, 139, 59);
    }

    .hero{
        background-color: rgb(82, 234, 171);
    }

    .images{
        background-color: rgb(237, 72, 86);
    }
}